.wrapper
    .container.owl-carousel.owl-theme.animated.owl-animated-out.owl-animated-in
        .box
            .gallery-item
            .desc
                h2 Lor
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi alias explicabo molestias officia illum animi illo voluptates sapiente voluptatum, inventore corrupti saepe suscipit tenetur quaerat. Aut debitis corporis molestias iste!
        .box
            .gallery-item
            .desc
                h2 Trod
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi alias explicabo molestias officia illum animi illo voluptates sapiente voluptatum, inventore corrupti saepe suscipit tenetur quaerat. Aut debitis corporis molestias iste!
        .box
            .gallery-item
            .desc
                h2 rama
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi alias explicabo molestias officia illum animi illo voluptates sapiente voluptatum, inventore corrupti saepe suscipit tenetur quaerat. Aut debitis corporis molestias iste!
        .box
            .gallery-item
            .desc
                h2 rama
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi alias explicabo molestias officia illum animi illo voluptates sapiente voluptatum, inventore corrupti saepe suscipit tenetur quaerat. Aut debitis corporis molestias iste!
        .box
            .gallery-item
            .desc
                h2 rama
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi alias explicabo molestias officia illum animi illo voluptates sapiente voluptatum, inventore corrupti saepe suscipit tenetur quaerat. Aut debitis corporis molestias iste!
        .box
            .gallery-item
            .desc
                h2 rama
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi alias explicabo molestias officia illum animi illo voluptates sapiente voluptatum, inventore corrupti saepe suscipit tenetur quaerat. Aut debitis corporis molestias iste!
        .box
            .gallery-item
            .desc
                h2 rama
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi alias explicabo molestias officia illum animi illo voluptates sapiente voluptatum, inventore corrupti saepe suscipit tenetur quaerat. Aut debitis corporis molestias iste!
        .box
            .gallery-item
            .desc
                h2 rama
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi alias explicabo molestias officia illum animi illo voluptates sapiente voluptatum, inventore corrupti saepe suscipit tenetur quaerat. Aut debitis corporis molestias iste!
        
    .btn
        a(href="tel:+77015883886") позвонить
        