.gallery
    .galleryContent
        .leftDescriptionBlock
            h1 Пусть мех говорит за тебя
            p  Купить сейчас норковую шубу класса люкс
        .gallery-form
                h2 Обратный звонок
                form(action="", method="post" class="user-form")
                    input(type="email", name="email" placeholder="эл.почта" class="user-email")
                    input(type="text", name="name" placeholder="имя" class="user-name")
                    input(type="submit", value="отправить" class="submit")
        .gallery-btn
            a(href="tel:+77015883886") позвонить
            